.create__account__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create__img-mobile {
  display: none;
}
.create__text {
  width: 560px;
}

.create-subtitle {
  width: 410px;
}
