.selection-row {
  text-align: center;
}

.selection-img {
  position: relative;
  top: -340px;
  right: 60px;
  max-height: 640px;
}
.selection-img-mobile {
  display: none;
}
.text {
  padding-top: 72px;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1px;
}
